<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>LegionsDex - online Mythic Legions database</title>
  <link rel="stylesheet" href="/static/legionsdex.css" />
  <script src="https://kit.fontawesome.com/dded2534a3.js" crossorigin="anonymous"></script>
</head>

<body>
  <header>
    <div class="menu">
      <a class="active" href="/"><i class="fa-solid fa-dragon fa-flip-horizontal"></i> LegionsDex</a>
      <div class="submenu">
        <a href="/race/" class="submenu-item"><i class="fa-solid fa-user-group"></i> <span
            class="submenu-title">RACE</span></a>
      </div>
      <div class="submenu">
        <a href="/role/" class="submenu-item"><i class="fa-solid fa-crown"></i></i> <span
            class="submenu-title">ROLE</span></a>
      </div>
      <div class="submenu">
        <a href="/faction/" class="submenu-item"><i class="fa-solid fa-tent"></i> <span
            class="submenu-title">FACTION</span></a>
      </div>
      <div class="submenu">
        <a href="/release/" class="submenu-item"><i class="fa-solid fa-truck-arrow-right"></i> <span
            class="submenu-title">RELEASE</span></a>
      </div>
      <div class="submenu">
        <a href="/scale/" class="submenu-item"><i class="fa-solid fa-weight-scale"></i> <span
            class="submenu-title">SCALE</span></a>
      </div>
      <!-- <div class="search-container">
        <form action="/search" method="GET">
          <input type="text" placeholder="Search..." name="search" />
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>-->
    </div>
  </header>
  <main>
    <div class="page-content-title">
      <h2>{{ .Title }}</h2>
    </div>
    <div class="page-content">
      <div class="page-content-column">
        {{if .List1Title }}
        <div class="card">
          <h4 class="card-title">{{ .List1Title }}s: {{ len .List1 }}</h4>
          <ul class="data-list">
            {{range $key, $value := .List1 }}
            <li><a href="/{{ $.List1Title }}/{{ $key }}">{{ $key }} <span class="badge">{{
                  $value }}</span></a></li>
            {{end}}
          </ul>
        </div>
        {{end}}
      </div>
      <div class="page-content-column">
        <div class="card">
          <h4 class="card-title">{{ .List2Title }}s: {{ len .List2 }}</h4>
          <ul class="data-list">
            {{range $key, $value := .List2 }}
            <li><a href="/{{ $.List2Title }}/{{ $key }}">{{ $key }} <span class="badge">{{
                  $value }}</span></a></li>
            {{end}}
          </ul>
        </div>
      </div>
      <div class="page-content-column">
        <div class="card">
          <h4 class="card-title">{{ .List3Title }}s: {{ len .List3 }}</h4>
          <ul class="data-list">
            {{range $key, $value := .List3 }}
            <li><a href="/{{ $.List3Title }}/{{ $key }}">{{ $key }} <span class="badge">{{
                  $value }}</span></a></li>
            {{end}}
          </ul>
        </div>
      </div>
      <div class="page-content-column">
        <div class="card">
          <h4 class="card-title">FIGURES: {{ .Total }}</h4>
          <ul class="data-list">
            {{range .Checklist.Figures }}
            <li><a href="{{ .Url }}">{{ .Name }}</a></li>
            {{end}}
          </ul>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <div class="footer">
      <p><i class="fa-solid fa-dragon fa-flip-horizontal"></i> LegionsDex is a checklist/database for exploring the Mythic Legions
        created by <a href="https://sourcehorsemen.com/">Four Horsemen Studios</a>.</p>
      <p>Data has been scraped from the official source website, and this tool is meant for a fun way to explore the
        realm of Mythoss.</p>
    </div>
  </footer>

</body>

</html>